In [12]:
import pandas as pd

data = {"foo": range(5), "bar": range(5, 10)}

df = pd.DataFrame(data)

df.to_pickle('./output/dummy.pkl')

df.head()

   foo  bar
0    0    5
1    1    6
2    2    7
3    3    8
4    4    9

In [14]:
unpickled_df = pd.read_pickle('./output/dummy.pkl')

unpickled_df.head()

   foo  bar
0    0    5
1    1    6
2    2    7
3    3    8
4    4    9